:root{

    --color1: #1DA1F2;
    --color2: #14171A;
    --color3: #657786;
    --color4: #AAB8C2;
    --color5: #E1E8ED;
    --color7: #F5F8FA;
    --white: #fff;
    --black: #fff;

    --transition1: all 0.1s ease-in-out;
    --transition2: all 0.2s ease-in-out;
    --transition3: all 0.3s ease-in-out;

}

.container{
    padding: 25px 50px;
    height: calc(100vh - 75px);
}
.container .row .col{
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container .row {
    display: grid;
    gap: 25px;
    grid-template-columns: 20% 800px;
}
.container .row .col:nth-child(1){
    background-color: white;
    height: 500px;
}
.container .row .col:nth-child(2){
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .row .col:nth-child(1) .col-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 15px 0;
}
.container .row .col:nth-child(1) .col-header .col-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .row .col:nth-child(1) .col-header .col-header-content span{
    color: #657786;
}
.container .row .col:nth-child(1) .col-header .col-header-image{
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container .row .col:nth-child(1) .col-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.container .row .col:nth-child(1) .col-content .col-content-followers-p{
    font-size: 18px;
    color: #14171A;
}
.container .row .col:nth-child(1) .col-content .col-content-followers-span{
    font-size: 24px;
    font-weight: 800;
    color: #1DA1F2;
}
.container .row .col:nth-child(1) .col-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.container .row .col:nth-child(1) .col-footer button{
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    color: white;
    background-color: #1DA1F2;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: var(--transition3);
}
.container .row .col:nth-child(1) .col-footer button:hover{
    background-color: #198bd2;
}
.container .row .col:nth-child(2){
    padding: 25px;
    margin-bottom: 25px;
}
.container .row .col:nth-child(2) .infinite-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container .row .col:nth-child(2) .post{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #E1E8ED;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.container .row .col:nth-child(2) .post:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container .row .col:nth-child(2) .post .post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.container .row .col:nth-child(2) .post .post-header .post-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container .row .col:nth-child(2) .post .post-header .post-header-user-wrapper .post-header-name{
    font-size: 20px;
    font-weight: 600;
}
.container .row .col:nth-child(2) .post .post-header .post-header-user-wrapper .post-header-username{
    color: #657786;
}
.container .row .col:nth-child(2) .post .post-header .post-user-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.container .row .col:nth-child(2) .post .post-header .post-header-time{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.container .row .col:nth-child(2) .post .post-header .post-header-time i {
    font-size: 1.25rem;
    color: #AAB8C2;
}
.container .row .col:nth-child(2) .post .post-header .post-header-time span{
    color: #AAB8C2;
}
.container .row .col:nth-child(2) .post .post-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container .row .col:nth-child(2) .post .post-content .post-content-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .row .col:nth-child(2) .post .post-content .post-content-image-box img {
    width: 100%;
}
.container .row .col:nth-child(2) .post .post-footer{
    padding: 15px;
}
.container .row .col:nth-child(2) .post .post-footer .post-footer-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container .row .col:nth-child(2) .post .post-footer .post-footer-group .post-footer-group-option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .row .col:nth-child(2) .post .post-footer .post-footer-group .post-footer-group-option a{
    color: #1DA1F2;
    font-size: 25px;
    font-weight: 600;
}

.liked {
    color: red;
}

.not-liked {
    color: #1DA1F2;
}

/* DELETE POST BUTTON */
.button-delete-post {
    background-color: crimson;
    border: 0;
    width: 35px;
    height: 35px;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition3);
}
.button-delete-post:hover{
    background-color: red;
}


/* MIN WIDTH */
@media (min-width: 1024px){
    .container .row .col:nth-child(2) .post .post-content .post-content-image-box{
        justify-content: start;
    }
    .container .row .col:nth-child(2) .post .post-content .post-content-image-box img {
        width: 700px;
    }
}

/* MAX WIDTH */
@media (max-width: 1024px){
    .container {
        padding: 10px;
    }
    .container .row {
        grid-template-columns: 100%;
    }
    .container .row .col:nth-child(1){
        display: none;
    }
    .container .row .col:nth-child(2) .post .post-footer{
        padding: 0;
    }
    .container .row .col:nth-child(2) .post .post-footer .post-footer-group .post-footer-group-option a{
        font-size: 18px;
        padding: 15px;
    }
}

@media (max-width: 300px){
    .container .row .col:nth-child(2){
        padding: 5px;
    }
    .container .row .col:nth-child(2) .post .post-header .post-header-time i {
        font-size: 14px;
    }
    .container .row .col:nth-child(2) .post .post-header .post-header-time span {
        font-size: 14px;
    }

}